<div class="row">
  <div class='pull-right'>
    <% if current_user %>
      <%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-danger', method: :delete %>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-danger' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-4">
      <%= image_tag 'https://d3ftecjsng6jy5.cloudfront.net/images/topic/1275/a46968f8fceeb31c343ea5a96a3789245f6304e5_p.jpeg', width: '250px' %>
      <h3><%= item.name %></h3>
      </p><%= item.price %>円 - 在庫数:<%= item.stock %></p>
      <p>
        <% if current_user %>
          <%= link_to '購入', purchase_item_path(item), data: { confirm: '本当に購入しますか？' }, class: 'btn btn-warning' %>
        <% end %>
        <%= link_to '商品ページへ', item, class: 'btn btn-info' %>
      </p>
    </div>
  <% end %>
<div>
