<p id="notice"><%= notice %></p>

<h1>商品の一覧ページ</h1>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>価格</th>
      <th>在庫数</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.stock %></td>
        <td><%= link_to '購入', purchase_item_path(item), data: { confirm: '本当に購入しますか？' } %></td>
        <td><%= link_to '商品ページへ', item %></td>
        <td><%= link_to '編集', edit_item_path(item) %></td>
        <td><%= link_to '削除', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい商品を追加', new_item_path %>
