<div class="row text-center">
  <div class="col-md-12">
    <%= image_tag '/pan.jpeg', width: '250px' %>
    <h3><%= @item.name %></h3>
    <p><%= @item.price %>円 - 在庫数:<%= @item.stock %></p>
  </div>
  <% if current_user %>
    <%= link_to '購入', purchase_item_path(@item), data: { confirm: '本当に購入しますか？' }, class: 'btn btn-warning' %>
  <% else %>
    ログインをして購入してください。
  <% end %>
</div>
